*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header{
    position: fixed;
    top: 0;                 ---- position fixed---
    left: 0;
    width: 100%;
*/
.header{
    height: 63px;
    background: rgba(0, 0, 0, 0);
}
.menu_trigger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    font-weight: 400;
    margin-left: 10%;
    opacity: 1;
    animation: slide_left 0.5s linear 0.5s forwards;
}
@keyframes slide_left 
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
.nav_ico{
    background: rgba(0, 0, 0, 0.65);
    padding: 15px;
    border-radius: 1px;
}
.nav_ico span{
    display: block;
    height: 3px;
    width: 30px;
    margin: 4px;
    background: white;
}
.side_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    margin-top: -4%;
}
.side_nav ul li{
    list-style-type: none;
    display: inline-block;
}
.side_nav ul li a{
    text-decoration: none;
    padding:10px 18px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes slide_top
{
    0%
    {
        transform: translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}
.side_nav ul li a.active,
.side_nav ul li a:hover{
    background: black;
    color: white;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
     /*avoid floating overflow*/
clearfix::after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
       /*section */
    
section{
    width: 100%;
}
.heading h1{
    position: absolute;
    color: white;
    top:25%;
    left: 8%;
    font-family: roboto;
    font-size: 40px;
}
 .box table{
    position: absolute;
    top:35%;
    left: 8%;
    padding: 2px;
    text-align: center;
}
.box :is(tr, td) {padding:15px 30px 15px 30px;
      font-family: krona one;
      font-weight: 500;
      border: 1.5px solid white;
      font-size: 20px;
      letter-spacing: 0.2em;
}
.black_car{
    z-index: 1;
}
.select-con{
    margin: auto;
    background: url(white\ image.jfif);
    width: 60%;
    min-height: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -62px;
    z-index:2;
    position: relative;
}
.select-con :is(h1) {
    font-family: roboto;
    margin: 35px 0 30px 0;
}
.select-con :is(table,td){
    border-collapse: collapse;
}
.select-con :is(td){
    padding-right: 50px;
}
.select-con :is(.price_range){
    margin-top: 30px;
}
.select-con :is(.price_range-2){
    margin-top: 25px;
}
.select-con :is(span){
    background: rgba(225, 0, 12, 0.925);
    color: white;
    margin-top: 20px;
    width: 100%;
    padding: 18px;
    text-align: center;
}
.red-car_con{
    margin-top: 50px;
    background: url(white\ image.jfif);
    display: flex;
    /*justify-content: space-between;
    align-items: center;*/
}
.red-car_con img{
    margin-left: 150px;
}
.red-car_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.red-car_cont h1{
    font-family: pangolin;
}
.red-car_cont p{
    margin-top: -30px;
    text-transform: capitalize;
    padding: 0px 100px 0px 100px;
}
.red-car_cont :is(tr, td) {
    font-family: krona one;
    font-weight: 500;
    border: 1.5px solid black;
    font-weight: 25px;
    letter-spacing: 0.2em;
    padding: 20px;
}
.back_red img{
    object-fit: cover;
}
.back_red .back_red-cont{
    background: #363232;
    padding: 15px;
    color: white;
    width: fit-content;
    float: right;
    margin-top: -100px;
    position: relative;
    z-index: 3;
}
.service_sec{
    width: 100%;
    margin-top: 40px;
}
.service_sec h2{
    text-align: center;
    text-transform: uppercase;
    font-family: pangolin;
}
.price_sections{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/*.price_sections > div{
    background: rgba(225, 0, 12, 0.925);
}*/
.sec-con{
    width: auto;
    height: 430px;
}
.con-box{
    margin-top: 20px;
    text-align: center;
}
.con-box strong{
    font-size: 50px;
    margin-top: 20px;
}
.con-box :is(.black-con){
    background: black;
    color: white;
    margin-top: 20px;
    padding: 22px;
    text-transform: uppercase;
}
.login-sect{
    box-shadow: 0px 5px 15px rgba(0,0,0, 0.4);
    background: rgba(225, 0, 12, 0.925);;
    transition: all 0.25s ease-in-out ;

}
.login-sect .login-det input[type="text"]:focus{
    background-color: rgb(191, 236, 221);
    transform: scaleX(1.1);
    border-radius: 20px;
    outline: none;
    border: none;
    /*width: 215px;*/
}
.login-sect:hover:focus-within{
    transform: scale(1.05);
    outline: none;
    border: none;
}
input[type="text"]{
    border-radius: 20px;
    border-color: chartreuse;
    /*width: 200px;*/
     transition: all 0.25s ease-in-out;
    outline: none;
} 
.head-con{
    text-align: center;
    color: white;
    width: 300px;
    padding: 10px 0px 0px 0px;
}
.login-det{
    padding: 10px 50px 15px 50px;
    transition: all 0.25s;
}
.last{
    background: rgba(0, 0, 0, 0.92);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    font-size: 12px;
}
.last :is(span){
    background: red;
    padding: 20px;
    cursor: pointer;
}
      /*FOOTER SECTION*/
/*footer{
    display: grid;
    justify-content: end;
    align-items: end;
    min-height: 100vh;
}*/
.footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: black;
}
footer .footer{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
footer .footer .sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .footer .sec h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width:50px;
    height: 2px;
    background: #ffeb3b;
}
footer .footer .sec p{
    color: #fff;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
}
.sci li {
    list-style: none;
    transition: 0.4s ease-in-out;
}
.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: calc(0.1s * var(--i))
}
@keyframes slide_right 
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
.sci li:hover{
    transform: translateY(-10px);
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quicklinks li a{
    color: #f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklinks li {
    list-style-type: none;
}
.quicklinks li a:hover{
    color: #ffeb3b;
}
.info{
    position: relative;
}
.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.info li span{
    color:#fff;
}
.info a{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover{
    color: #ffeb3b;
}
.copyrightText{
    width: 100%;
    background: #1f3389;
    padding:8px 100px;
    text-align:center;
    color: #fff;
}
/* now make it responsible
@media screen (max-width: 991px;)
{
    footer{
        padding: 40px;
    }
    footer .footer{
        grid-template-columns: repeat(2,1fr);
    }
    .copyrightText{
        padding: 8px 40px;
    }
}
@media screen (max-width: 768px;)
{
    footer .footer{
        grid-template-columns: repeat(1,1fr);
    }
}
*/